10
0 ""
1 "ERRO: Wrong number of arguments for main function"
2 "ERRO: Failed to open the received file"
3 "ERRO: Failed to open out1.txt"
4 "ERRO: Failed to open out2.txt"
5 "ERRO: Failed to close the received file"
6 "ERRO: Failed to close out1.txt"
7 "ERRO: Failed to close out2.txt"
8 "The number of read registers is:"
9 "The number of printed characters at out1.c is:"
10 "The number of printed characters at out2.c is:"

