12
0 "" 
1 "ERRO: número errado de argumentos em main"
2 "ERRO: falha ao abrir o arquivo passado"
3 "ERRO: falha ao abrir out1.c"
4 "ERRO: falha ao abrir out2.c"
5 "ERRO: falha ao fexar o arquivo passado"
6 "ERRO: falha ao fexar out1.c"
7 "ERRO: falha ao fexar out 2.c"
8 "O número de registros lidos foi:"
9 "O número de caracteres imprimidos em out1.txt foi:"
10 "O número de caracteres imprimidos em out2.txt foi:"
11 "O números de caracteres lidos foi:"
12 "Campo obrigatório faltante no registro e no camp:  "
