13
0 "*Falta argumentos na função int main"
1 "*Argumentos em excesso na função int main" 
2 "*A especificação 2 do segundo argumento da função int main não é um caracter" 
3 "*Falta especificações no segundo argumento da função int main"
4 "*Especificações em excesso no segundo argumento da função int main"
5 "*Erro na função, parametros passados podem ser nulos" 
6 "*Erro de alocação de memória"
7 "*Erro de inserção"
8 "*Erro ao abrir o arquivo"
9 "*Erro na função MakeTree"
10 "*O número de vezes em que C aparece no texto é:"
11 "*O número de vezes em que Pal aparece no texto é:"
12 "*O texto sem pontuação:" 
13 "*O texto sem sobra de espaços:"
