32
0 "*option 1: Make a file with variable shape from a fix one"
1 "*option 2: List registers from a fix shape file"
2 "*option 3: List registers from a variable shape file"
3 "*option 4: search for a primary key in a variable shape file"
4 "*option 6: Create a file with the primary keys and it's positions"
5 "*option 7: Organize the file with the primary keys and place them on a new file"
6 "*option 13: exit"
7 "*Invalid Option"
8 "*Waiting for the choice"
9 "*Give the entry file name"
10 "*Give the exit file name"
11 "*ERROR to open file"
12 "*Obrigatory field not filled"
13 "*give the primary key you are looking for"
14 "*ERROR at reading the register"
15 "*register not found"
16 "*The information style does not match with it's configuration at register and field:"
17 "*(starting address|final address|size in bytes)"
18 "*ERROR: The program couldn't create the file of index configuration"
19 "*ERROR: The program couldn't open the configuration file"
20 "*Give the menu file name"
21 "*Give the registers file name"
22 "*Give the primary key you want to delete"
23 "*The key has been deleted"
24 "*Option 8: Show the extraction of keys from 3.6"
25 "*Option 9: Show The extraction of classified keys from 3.7" 
26 "*Option 10: Create index file" 
27 "*Option 11: binary search using the index file" 
28 "*Option 12: Remove a register" 
29 "*Option 14: Show the menu"
30 "*ERROR: Could not open dataindn.config"
31 "*The primary key apears more than once at the file"
32 "*ERROR: impossible to make operation"
