15
0 "*Opcão 1:  Conversão do arquivo de formato fixo para formato variável"
1 "*Opcão 2:  Listar o arquivo de dados no formato fixo"
2 "*Opcão 3:  Listar o arquivo de dados no formato variável"
3 "*Opcão 4:  Pesquisa de um determinado registro pela chave primária"
4 "*Opcão 6:  Extração das chaves"
5 "*Opcão 7:  Classificação do arquivo  das chaves"
6 "*Opcão 13: Sair"
7 "*Opcão inválida"
8 "*Aguardando escolha:"
9 "*Digite o nome do arquivo de entrada:"
10 "*Digite o nome do arquivo de saida:"
11 "*ERRO: falha ao abrir o arquivo"
12 "*Campo obrigatório faltante no registro e no campo:"
13 "*Digite a chave a ser procurada"
14 "*Erro ao ler registro"
15 "*Registro não encontrado"
